<IfModule mod_rewrite.c>

RewriteEngine On

RewriteCond %{HTTP_HOST} !^www.demirer.info$ [NC]
RewriteRule ^(.*)$ https://www.demirer.info/$1 [L,R=301]

RewriteCond %{SERVER_PORT} !=443
RewriteRule ^(.*)$ https://www.demirer.info/$1 [R=301,L]

RewriteCond %{HTTP_HOST} !^www.reRelease.demirer.info$ [NC]
RewriteRule ^(.*)$ https://www.reRelease.demirer.info/$1 [L,R=301]

RewriteCond %{SERVER_PORT} !=443
RewriteRule ^(.*)$ https://www.reRelease.demirer.info/$1 [R=301,L]

</IfModule>